.body{
    margin: 0 47px 0 47px;
}
.navbar-brand{
    padding-right: 10px;
}
.breadcrumb{
    background-color: #fff;
    top: 74px;
    left: 48px;
    width: 204px;
    height: 49px;
    font-size: 12px;
    margin-top: 20px;
    }
.breadcrumb-item{
    color: #000;
}
.navbar{
    height: 53px;
    opacity: 1;
}
.vmeste{
    display: inline-block;
}
.image{
    position: relative;
}
.circle{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: absolute;
    top: 0;
    right: 0;
}
.block1-circle{
    top: 10px;
    right: 160px;
}
.bin{
    position: relative;
    top: 5px;
    left: 10px;
}
.red{
    color: red;
}
input{
    height: 35px;
}
.plus{
    height: 35px;
    width: 55px;
    margin-left: 3px; 
    text-align: center;
    align-items: center;
    float: right;
}
.measure{
    width: 120px;
}
.height{
    float: right;
}
.glyphicon-plus{
    font-size: 20px;
}
[type="date"] {
    background:#fff url("../images/Group\ 36.svg")  97% 50% no-repeat ;
  }
[type="date"]::-webkit-inner-spin-button {
    display: none;
  }
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
small{
    text-align: left;
    font: Italic 14px/19px Roboto;
    letter-spacing: 0;
    color: #000000;
}
.small{
    padding-top: 45px;
}
label{
    text-align: left;
    font: Regular 16px/19px Tahoma;
}
.block1{
    padding-left:50px;
    margin: 40px 0;
}
.block2{
    margin: 40px 0;
    padding-left: 40px;
}
.block3-label{
    margin: 40px;
}
.pic-name{
    font: Regular 20px/27px Segoe UI;
    color: #3C8DBC;
}
.pic-size{
    font: Regular 20px/27px Segoe UI;
    color: #707070;
}
.upload-img{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D4D4D4;
    margin-left: 33px;
    margin-right: 40px;
}
.warning{
    text-align: left;
    font: Italic 14px/19px Roboto;
    letter-spacing: 0;
    color: #D9534F;
    margin: 20px;
}
.tab-content{
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border: 1px solid #D4D8E0;
}
.tab-pane{
    width: 1198px !important;
}
#nav-gallery{
    width: 1198px;;
}
#block6{
    padding: 40px;
    text-align: left;
    font: Regular 16px/21px Roboto;
    padding-bottom: 0;
}
.buttons{
    margin: 25px 0 70px 10px;
    width: 211px;
    height: 40px;
}
.youtube{
    padding: 50px;
}
.card{
    display: inline-block;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border: none;
    margin-left: 38px;
}
.black{
    color: #000; 
}
#nav-tab > .active{
    background-color: #F4F4F4;
    color: #000;
    border-bottom: none;
}
textarea{
    width: 745px;
    height: 313px;
}
label.col-sm-12{
    margin-left: -15px;
}